// main color
$main_color1: #000054;
$main_color2: #0031de;
$main_color3: #ffe200;
$main_color4: #131371;
$main_color5: #002ABD;
$main_color6: #E6CC00;
// text color
$txt1: #444;
$txt2: #000;
$txt3: #fff;
